<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li class=""><a><i class="fa fa-home"></i> 首页 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/newsTypeKOF">拳皇14官网新闻详情</a></li>
                    <li><a href="/newsTypeGamepochCN">星游纪中文官网新闻详情</a></li>
                    <li><a href="/newsTypeGamepochEN">星游纪英文官网新闻详情</a></li>
                    <li><a href="/newsTypeGamepochWechat">
                        <i class="fa fa-weixin" aria-hidden="true"></i>
                        星游纪微信详情
                    </a></li>
                    <li><a href="/newsTypeGamepochWeibo">
                        <i class="fa fa-weibo" aria-hidden="true"></i>
                        星游纪微博详情</a></li>                                    
                </ul>
            </li>
            <li class=""><a><i class="fa fa-bar-chart"></i> 活动数据 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/activities/weeklyGamepoch">星游纪体验周</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /sidebar menu -->